@charset "UTF-8";

h1 {
    color: white;
    background-color: rgba(0, 204, 255, 0.979);
  }

.highlight {
    background-color: rgb(255, 0, 247);
    color: white;
  }
  #main-heading {
    color: blue;
    font-size: 2em;
  }

  @media (max-width: 200px) {
    h1 {
      background-color: red;
    }
  }
  @media (min-width: 600px) {
    h1 {
      background-color: green;
    }
}